span {
    font-size: 50px;
    font-weight: bold;

}

#hotnew {
    color: red;
}

#releases {
    color: rgb(230, 230, 66);
}

#year {
    color: grey;
}

body {
    background-color: rgb(187, 183, 183);
    background-image: url("../images/e3logo.png");
    background-repeat: no-repeat;
    background-size: 50%;
    background-position-x: 350px;
    background-position-y: 300px;
}
